In [1]:
# Association algorithms for supervised classification on any dataset

In [2]:
dataset = [['Apple', 'Beer', 'Rice', 'Chicken'],
           ['Apple', 'Beer', 'Rice'],
           ['Apple', 'Beer'],
           ['Apple', 'Pear'],
           ['Milk', 'Beer', 'Rice', 'Chicken'],
           ['Milk', 'Beer', 'Rice'],
           ['Milk', 'Beer'],
           ['Apple', 'Pear']]

In [3]:
dataset

[['Apple', 'Beer', 'Rice', 'Chicken'],
 ['Apple', 'Beer', 'Rice'],
 ['Apple', 'Beer'],
 ['Apple', 'Pear'],
 ['Milk', 'Beer', 'Rice', 'Chicken'],
 ['Milk', 'Beer', 'Rice'],
 ['Milk', 'Beer'],
 ['Apple', 'Pear']]

In [4]:
# Import the transaction encoder
from mlxtend.preprocessing import TransactionEncoder

In [5]:
# Create the object
trans = TransactionEncoder()

In [6]:
# Apply the operation
df_t = trans.fit_transform(dataset)

In [7]:
df_t

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True, False, False, False,  True, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [ True, False, False, False,  True, False]])

In [8]:
trans.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice']

In [9]:
import pandas as pd

In [10]:
# Create a structured dataframe
df = pd.DataFrame(df_t, columns=trans.columns_)

In [11]:
df

   Apple   Beer  Chicken   Milk   Pear   Rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3   True  False    False  False   True  False
4  False   True     True   True  False   True
5  False   True    False   True  False   True
6  False   True    False   True  False  False
7   True  False    False  False   True  False

In [15]:
# Support count
sum(df['Rice']) / len(df)

0.5

In [16]:
# Generate frequent itemsets
from mlxtend.frequent_patterns import apriori

In [17]:
freq_itemset = apriori(df, min_support=0.25, use_colnames=True)

In [18]:
freq_itemset

    support               itemsets
0     0.625                (Apple)
1     0.750                 (Beer)
2     0.250              (Chicken)
3     0.375                 (Milk)
4     0.250                 (Pear)
5     0.500                 (Rice)
6     0.375          (Beer, Apple)
7     0.250          (Pear, Apple)
8     0.250          (Rice, Apple)
9     0.250        (Beer, Chicken)
10    0.375           (Beer, Milk)
11    0.500           (Beer, Rice)
12    0.250        (Rice, Chicken)
13    0.250           (Rice, Milk)
14    0.250    (Beer, Rice, Apple)
15    0.250  (Beer, Rice, Chicken)
16    0.250     (Beer, Rice, Milk)

In [19]:
# Generate strong association rules
from mlxtend.frequent_patterns import association_rules

In [20]:
rules = association_rules(freq_itemset,
                         metric='confidence',
                         min_threshold=0.5)

In [21]:
rules

        antecedents      consequents  ...  leverage  conviction
0            (Beer)          (Apple)  ...  -0.09375       0.750
1           (Apple)           (Beer)  ...  -0.09375       0.625
2            (Pear)          (Apple)  ...   0.09375         inf
3            (Rice)          (Apple)  ...  -0.06250       0.750
4         (Chicken)           (Beer)  ...   0.06250         inf
5            (Beer)           (Milk)  ...   0.09375       1.250
6            (Milk)           (Beer)  ...   0.09375         inf
7            (Beer)           (Rice)  ...   0.12500       1.500
8            (Rice)           (Beer)  ...   0.12500         inf
9            (Rice)        (Chicken)  ...   0.12500       1.500
10        (Chicken)           (Rice)  ...   0.12500         inf
11           (Rice)           (Milk)  ...   0.06250       1.250
12           (Milk)           (Rice)  ...   0.06250       1.500
13     (Beer, Rice)          (Apple)  ...  -0.06250       0.750
14    (Beer, Apple)           (Rice)  ...   0.06250       1.500
15    (Rice, Apple)           (Beer)  ...   0.06250         inf
16           (Rice)    (Beer, Apple)  ...   0.06250       1.250
17     (Beer, Rice)        (Chicken)  ...   0.12500       1.500
18  (Beer, Chicken)           (Rice)  ...   0.12500         inf
19  (Rice, Chicken)           (Beer)  ...   0.06250         inf
20           (Rice)  (Beer, Chicken)  ...   0.12500       1.500
21        (Chicken)     (Beer, Rice)  ...   0.12500         inf
22     (Beer, Rice)           (Milk)  ...   0.06250       1.250
23     (Beer, Milk)           (Rice)  ...   0.06250       1.500
24     (Rice, Milk)           (Beer)  ...   0.06250         inf
25           (Rice)     (Beer, Milk)  ...   0.06250       1.250
26           (Milk)     (Beer, Rice)  ...   0.06250       1.500

[27 rows x 9 columns]

In [22]:
rules = rules[['antecedents','consequents','support','confidence']]

In [23]:
rules

        antecedents      consequents  support  confidence
0            (Beer)          (Apple)    0.375    0.500000
1           (Apple)           (Beer)    0.375    0.600000
2            (Pear)          (Apple)    0.250    1.000000
3            (Rice)          (Apple)    0.250    0.500000
4         (Chicken)           (Beer)    0.250    1.000000
5            (Beer)           (Milk)    0.375    0.500000
6            (Milk)           (Beer)    0.375    1.000000
7            (Beer)           (Rice)    0.500    0.666667
8            (Rice)           (Beer)    0.500    1.000000
9            (Rice)        (Chicken)    0.250    0.500000
10        (Chicken)           (Rice)    0.250    1.000000
11           (Rice)           (Milk)    0.250    0.500000
12           (Milk)           (Rice)    0.250    0.666667
13     (Beer, Rice)          (Apple)    0.250    0.500000
14    (Beer, Apple)           (Rice)    0.250    0.666667
15    (Rice, Apple)           (Beer)    0.250    1.000000
16           (Rice)    (Beer, Apple)    0.250    0.500000
17     (Beer, Rice)        (Chicken)    0.250    0.500000
18  (Beer, Chicken)           (Rice)    0.250    1.000000
19  (Rice, Chicken)           (Beer)    0.250    1.000000
20           (Rice)  (Beer, Chicken)    0.250    0.500000
21        (Chicken)     (Beer, Rice)    0.250    1.000000
22     (Beer, Rice)           (Milk)    0.250    0.500000
23     (Beer, Milk)           (Rice)    0.250    0.666667
24     (Rice, Milk)           (Beer)    0.250    1.000000
25           (Rice)     (Beer, Milk)    0.250    0.500000
26           (Milk)     (Beer, Rice)    0.250    0.666667

In [24]:
rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))

<ipython-input-24-514ef6b1bde9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rules['antecedent_len'] = rules['antecedents'].apply(lambda x: len(x))

In [25]:
rules

        antecedents      consequents  support  confidence  antecedent_len
0            (Beer)          (Apple)    0.375    0.500000               1
1           (Apple)           (Beer)    0.375    0.600000               1
2            (Pear)          (Apple)    0.250    1.000000               1
3            (Rice)          (Apple)    0.250    0.500000               1
4         (Chicken)           (Beer)    0.250    1.000000               1
5            (Beer)           (Milk)    0.375    0.500000               1
6            (Milk)           (Beer)    0.375    1.000000               1
7            (Beer)           (Rice)    0.500    0.666667               1
8            (Rice)           (Beer)    0.500    1.000000               1
9            (Rice)        (Chicken)    0.250    0.500000               1
10        (Chicken)           (Rice)    0.250    1.000000               1
11           (Rice)           (Milk)    0.250    0.500000               1
12           (Milk)           (Rice)    0.250    0.666667               1
13     (Beer, Rice)          (Apple)    0.250    0.500000               2
14    (Beer, Apple)           (Rice)    0.250    0.666667               2
15    (Rice, Apple)           (Beer)    0.250    1.000000               2
16           (Rice)    (Beer, Apple)    0.250    0.500000               1
17     (Beer, Rice)        (Chicken)    0.250    0.500000               2
18  (Beer, Chicken)           (Rice)    0.250    1.000000               2
19  (Rice, Chicken)           (Beer)    0.250    1.000000               2
20           (Rice)  (Beer, Chicken)    0.250    0.500000               1
21        (Chicken)     (Beer, Rice)    0.250    1.000000               1
22     (Beer, Rice)           (Milk)    0.250    0.500000               2
23     (Beer, Milk)           (Rice)    0.250    0.666667               2
24     (Rice, Milk)           (Beer)    0.250    1.000000               2
25           (Rice)     (Beer, Milk)    0.250    0.500000               1
26           (Milk)     (Beer, Rice)    0.250    0.666667               1

In [26]:
nrules = rules[(rules['antecedent_len'] == 1) & 
               (rules['support'] > 0.30)]

In [27]:
nrules

  antecedents consequents  support  confidence  antecedent_len
0      (Beer)     (Apple)    0.375    0.500000               1
1     (Apple)      (Beer)    0.375    0.600000               1
5      (Beer)      (Milk)    0.375    0.500000               1
6      (Milk)      (Beer)    0.375    1.000000               1
7      (Beer)      (Rice)    0.500    0.666667               1
8      (Rice)      (Beer)    0.500    1.000000               1

In [32]:
# Prediction / Suggestion / Recommendation
nrules[nrules['antecedents'] == {'Apple'}]['consequents'][1]

frozenset({'Beer'})

In [34]:
rules.sort_values(by='confidence', ascending=False)

        antecedents      consequents  support  confidence  antecedent_len
18  (Beer, Chicken)           (Rice)    0.250    1.000000               2
2            (Pear)          (Apple)    0.250    1.000000               1
21        (Chicken)     (Beer, Rice)    0.250    1.000000               1
4         (Chicken)           (Beer)    0.250    1.000000               1
24     (Rice, Milk)           (Beer)    0.250    1.000000               2
6            (Milk)           (Beer)    0.375    1.000000               1
15    (Rice, Apple)           (Beer)    0.250    1.000000               2
8            (Rice)           (Beer)    0.500    1.000000               1
19  (Rice, Chicken)           (Beer)    0.250    1.000000               2
10        (Chicken)           (Rice)    0.250    1.000000               1
12           (Milk)           (Rice)    0.250    0.666667               1
14    (Beer, Apple)           (Rice)    0.250    0.666667               2
26           (Milk)     (Beer, Rice)    0.250    0.666667               1
7            (Beer)           (Rice)    0.500    0.666667               1
23     (Beer, Milk)           (Rice)    0.250    0.666667               2
1           (Apple)           (Beer)    0.375    0.600000               1
22     (Beer, Rice)           (Milk)    0.250    0.500000               2
25           (Rice)     (Beer, Milk)    0.250    0.500000               1
20           (Rice)  (Beer, Chicken)    0.250    0.500000               1
0            (Beer)          (Apple)    0.375    0.500000               1
17     (Beer, Rice)        (Chicken)    0.250    0.500000               2
16           (Rice)    (Beer, Apple)    0.250    0.500000               1
11           (Rice)           (Milk)    0.250    0.500000               1
9            (Rice)        (Chicken)    0.250    0.500000               1
5            (Beer)           (Milk)    0.375    0.500000               1
3            (Rice)          (Apple)    0.250    0.500000               1
13     (Beer, Rice)          (Apple)    0.250    0.500000               2

In [35]:
# Export the rules
rules.to_csv('rules.csv', index=False)